/*
	Requires Compass (though hardly uses it)
*/
@import url(consolas-local.css);
/* line 5, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-2.1.5/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, app.scss */
body {
  width: 100%;
  background: #fff;
  font-family: "Consolas", monospace;
}

/* line 26, app.scss */
.contentArea {
  position: relative;
  margin-left: 250px;
  overflow: hidden;
}

/* line 37, app.scss */
.header {
  position: absolute;
  width: 100%;
  background: #e5e5e5;
}
/* line 42, app.scss */
.header .headerCrumb {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 10px;
  color: #9a9a9a;
  font-weight: normal;
}
/* line 51, app.scss */
.header .headerTitle {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #9a9a9a;
  font-weight: bold;
}
/* line 59, app.scss */
.header .headerRight {
  float: right;
  margin-top: 9px;
  margin-right: 7px;
}
/* line 64, app.scss */
.header .headerRight .headerDate {
  float: left;
  margin-top: 8px;
  margin-right: 9px;
  margin-left: 5px;
  text-align: right;
  color: #9a9a9a;
  font-size: 9px;
  line-height: 9px;
}
/* line 75, app.scss */
.header .headerRight .preview {
  display: none;
  float: right;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-left: 1px solid #9a9a9a;
}

/* line 86, app.scss */
.content {
  font-size: 12px;
}

/* line 90, app.scss */
.content .contentIframe {
  width: 100%;
  height: 100%;
}

/* line 95, app.scss */
.notfound {
  text-align: center;
  padding: 50px;
  display: none;
}

/* line 104, app.scss */
.navButtonsHolder {
  position: absolute;
  display: none;
  z-index: 100;
}

/* line 110, app.scss */
.navArea {
  float: left;
  position: relative;
  width: 250px;
  height: 0px;
  overflow: auto;
  color: white;
  background: #666;
}

/* line 122, app.scss */
.navTopButton {
  display: block;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

/* line 129, app.scss */
.navPreview {
  display: none;
  position: absolute;
  top: 100px;
  cursor: pointer;
  font-size: 10px;
}
/* line 136, app.scss */
.navPreview img {
  opacity: 0.66;
}

/* line 142, app.scss */
.nav {
  margin-left: -15px;
  margin-top: 7px;
  padding: 15px 15px 15px 0px;
}

/* line 147, app.scss */
.nav ul {
  margin-left: 20px;
}

/* line 151, app.scss */
.nav li {
  display: block;
}

/* line 155, app.scss */
.nav a {
  text-decoration: none;
}

/* line 159, app.scss */
.nav a:link {
  color: #d5d5d5;
}

/* line 162, app.scss */
.nav a:visited {
  color: #d5d5d5;
}

/* line 165, app.scss */
.nav a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}

/* line 169, app.scss */
.nav a:active {
  color: #d5d5d5;
}

/* line 173, app.scss */
.nav a.selectedItem {
  color: orange;
  text-decoration: none;
  cursor: default;
}

/* line 179, app.scss */
.nav li div img {
  display: inline-block;
}

/* line 183, app.scss */
.nav li div.navItemInner1 {
  float: left;
  margin-right: 6px;
}

/* line 188, app.scss */
.nav li div.navItemInner2 {
  overflow: hidden;
}

/* line 194, app.scss */
.nav li.navItemFolder {
  height: 25px;
  margin-left: 0px;
  font-family: "Consolas", monospace;
  font-size: 13px;
}

/* line 201, app.scss */
.nav li.navItemFolder div.navItemInner1 img {
  padding-top: 3.75px;
  height: 17.5px;
}

/* line 206, app.scss */
.nav li.navItemFolder div.navItemInner2 {
  height: 25px;
  line-height: 25px;
}

/* line 214, app.scss */
.nav li.navItemFile {
  height: 25px;
  margin-left: 0px;
  font-family: "Consolas", monospace;
  font-size: 11px;
}

/* line 221, app.scss */
.nav li.navItemFile div.navItemInner1 img {
  padding-top: 3.75px;
  height: 17.5px;
}

/* line 226, app.scss */
.nav li.navItemFile div.navItemInner2 {
  height: 25px;
  line-height: 25px;
}
