@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Consolas';
  font-weight: normal;
  src: url("../fonts/consola-webfont.eot");
  /* IE 5-8 */
  src: local("☺"), url("../fonts/consola-webfont.woff") format("woff"), url("../fonts/consola-webfont.ttf") format("truetype"), url("../fonts/consola-webfont.svg#font") format("svg");
  /* iOS */
}

@font-face {
  font-family: 'Consolas';
  font-weight: bold;
  src: url("../fonts/consolab-webfont.eot");
  src: local("☺"), url("../fonts/consolab-webfont.woff") format("woff"), url("../fonts/consolab-webfont.ttf") format("truetype"), url("../fonts/consolab-webfont.svg#font") format("svg");
}

/* line 35, app.scss */
body {
  width: 100%;
  background: #fff;
  font-family: "Consolas", monospace;
}

/* line 47, app.scss */
.contentArea {
  position: relative;
  margin-left: 250px;
  overflow: hidden;
}

/* line 58, app.scss */
.header {
  position: absolute;
  width: 100%;
  background: #e5e5e5;
}
/* line 63, app.scss */
.header .headerCrumb {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 10px;
  color: #9a9a9a;
  font-weight: normal;
}
/* line 72, app.scss */
.header .headerTitle {
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  color: #9a9a9a;
  font-weight: bold;
}
/* line 80, app.scss */
.header .headerRight {
  float: right;
  margin-top: 9px;
  margin-right: 7px;
}
/* line 85, app.scss */
.header .headerRight .headerDate {
  float: left;
  margin-top: 8px;
  margin-right: 9px;
  margin-left: 5px;
  text-align: right;
  color: #9a9a9a;
  font-size: 9px;
  line-height: 9px;
}
/* line 96, app.scss */
.header .headerRight .preview {
  display: none;
  float: right;
  padding-left: 7px;
  padding-top: 7px;
  padding-bottom: 5px;
  border-left: 1px solid #9a9a9a;
}

/* line 107, app.scss */
.content {
  font-size: 12px;
}

/* line 111, app.scss */
.content .contentIframe {
  width: 100%;
  height: 100%;
}

/* line 116, app.scss */
.notfound {
  text-align: center;
  padding: 50px;
  display: none;
}

/* line 125, app.scss */
.navButtonsHolder {
  position: absolute;
  display: none;
  z-index: 100;
}

/* line 131, app.scss */
.navArea {
  float: left;
  position: relative;
  width: 250px;
  height: 0px;
  overflow: auto;
  color: white;
  background: #666;
}

/* line 143, app.scss */
.navTopButton {
  display: block;
  position: absolute;
  top: 5px;
  cursor: pointer;
}

/* line 150, app.scss */
.navPreview {
  display: none;
  position: absolute;
  top: 100px;
  cursor: pointer;
  font-size: 10px;
}
/* line 157, app.scss */
.navPreview img {
  opacity: 0.66;
}

/* line 163, app.scss */
.nav {
  margin-left: -15px;
  margin-top: 7px;
  padding: 15px 15px 15px 0px;
}

/* line 168, app.scss */
.nav ul {
  margin-left: 20px;
}

/* line 172, app.scss */
.nav li {
  display: block;
}

/* line 176, app.scss */
.nav a {
  text-decoration: none;
}

/* line 180, app.scss */
.nav a:link {
  color: #d5d5d5;
}

/* line 183, app.scss */
.nav a:visited {
  color: #d5d5d5;
}

/* line 186, app.scss */
.nav a:hover {
  color: #d5d5d5;
  text-decoration: underline;
}

/* line 190, app.scss */
.nav a:active {
  color: #d5d5d5;
}

/* line 194, app.scss */
.nav a.selectedItem {
  color: orange;
  text-decoration: none;
  cursor: default;
}

/* line 200, app.scss */
.nav li div img {
  display: inline-block;
}

/* line 204, app.scss */
.nav li div.navItemInner1 {
  float: left;
  margin-right: 6px;
}

/* line 209, app.scss */
.nav li div.navItemInner2 {
  overflow: hidden;
}

/* line 215, app.scss */
.nav li.navItemFolder {
  height: 25px;
  margin-left: 0px;
  font-family: "Consolas", monospace;
  font-size: 13px;
}

/* line 222, app.scss */
.nav li.navItemFolder div.navItemInner1 img {
  padding-top: 3.75px;
  height: 17.5px;
}

/* line 227, app.scss */
.nav li.navItemFolder div.navItemInner2 {
  height: 25px;
  line-height: 25px;
}

/* line 235, app.scss */
.nav li.navItemFile {
  height: 25px;
  margin-left: 0px;
  font-family: "Consolas", monospace;
  font-size: 11px;
}

/* line 242, app.scss */
.nav li.navItemFile div.navItemInner1 img {
  padding-top: 3.75px;
  height: 17.5px;
}

/* line 247, app.scss */
.nav li.navItemFile div.navItemInner2 {
  height: 25px;
  line-height: 25px;
}
