<li class='navItemFolder' data-itemId='{{id}}'>
	<a href='#'>
		<div class='navItemInner1'>
		<img class='arrowRight' src='images/icon_folder_arrow_right.png'/><img class='arrowDown' src='images/icon_folder_arrow_down.png'/><img src='images/icon_folder_gray.png'/>
		</div>
		<div class='navItemInner2'>{{title}}</div>
	</a>
</li>